# Database
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# AI Models
YOLO_MODEL_PATH=best.pt
OCR_MODEL_PATH=ocr_model.keras

# Media storage
MEDIA_DIR=media

# Auth
SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=60